<section id="about-nav">
   <div class="nav-container">
      <a href="#aboutUs">
         <span class="nav-title1">ABOUT US</span>
         <div class="nav-img nav-img1"></div>
      </a>
      <a href="#">
         <span class="nav-title2">OUR PEOPLE</span>
         <div class="nav-img nav-img2"></div>
      </a>
      <a href="#">
         <span class="nav-title3">OUR REGIONS</span>
         <div class="nav-img nav-img3"></div>
      </a>
      <a href="#">
         <span class="nav-title4">OUR PORTFOLIO</span>
         <div class="nav-img nav-img4"></div>
      </a>
   </div>
</section>
