<section id="aboutUs">
   <div class="top-title">
      <h1>ABOUT US</h1>
      <div class="circle"></div>
   </div>
   <div class="about-blurbs">
      <div class="blurb1">
         <h3><span class="strawberry"></span><i>OUR FOCUS</i></h3>
         <div class="underline"></div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quod quibusdam omnis, enim optio assumenda delectus, tenetur commodi cum fugit fuga nam ab porro? Illo amet at assumenda vitae tempore.</p>
      </div>
      <div class="blurb1">
         <h3><span class="cherry"></span><i>OUR HISTORY</i></h3>
         <div class="underline"></div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quod quibusdam omnis, enim optio assumenda delectus, tenetur commodi cum fugit fuga nam ab porro? Illo amet at assumenda vitae tempore.</p>
      </div>
      <div class="blurb1">
         <h3><span class="apple"></span><i>EXPERIENCE</i></h3>
         <div class="underline"></div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quod quibusdam omnis, enim optio assumenda delectus, tenetur commodi cum fugit fuga nam ab porro? Illo amet at assumenda vitae tempore.</p>
      </div>
   </div>
   <hr>
   <div class="whyvine">
      <h3><i>WHY VINE?</i></h3>
      <div class="underline"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ex inventore, cum dolor hic, at odio in dicta ipsa mollitia
         rem ab unde tempora, fugit fugiat! Repudiandae repellendus quidem expedita?Lorem ipsum dolor sit amet, consectetur adipisicing
         elit. Deleniti, earum. <br><br>Earum ipsam non voluptatem iure quas nesciunt vel perferendis totam nulla? A dolore nisi, soluta praesentium
         aliquid nostrum quibusdam nulla?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ea quidem modi odit ullam maiores
         expedita in non temporibus quae harum delectus, hic numquam magnam cupiditate ipsa exercitationem omnis doloremque.</p>
   </div>
   <div class="whyvine-units">
      <div class="whyvine-unit whyvine-unit1">
         <span class="unit-icon"><i class="ion-cash"></i></span>
         <div class="overlay"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam expedita temporibus quisquam tempora recusandae porro vitae delectus rerum, molestiae. Eos itaque corrupti molestiae consequatur atque. Quisquam quibusdam laborum aut, tenetur!</p></div>
         <span class="unit-title"><h5><i>Financial Management</i></h5></span>
      </div>
      <div class="whyvine-unit whyvine-unit2">
         <span class="unit-icon"><i class="ion-android-home"></i></span>
         <div class="overlay"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam expedita temporibus quisquam tempora recusandae porro vitae delectus rerum, molestiae. Eos itaque corrupti molestiae consequatur atque. Quisquam quibusdam laborum aut, tenetur!</p></div>
         <span class="unit-icon"><i></i></span>
         <span class="unit-title"><h5><i>Property Management</i></h5></span>
      </div>
      <div class="whyvine-unit whyvine-unit3">
         <span class="unit-icon"><i class="ion-clipboard"></i></span>
         <div class="overlay"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam expedita temporibus quisquam tempora recusandae porro vitae delectus rerum, molestiae. Eos itaque corrupti molestiae consequatur atque. Quisquam quibusdam laborum aut, tenetur!</p></div>
         <span class="unit-icon"><i></i></span>
         <span class="unit-title"><h5><i>Investment</i></h5></span>
      </div>
      <div class="whyvine-unit whyvine-unit4">
         <span class="unit-icon"><i class="ion-compose"></i></span>
         <div class="overlay"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam expedita temporibus quisquam tempora recusandae porro vitae delectus rerum, molestiae. Eos itaque corrupti molestiae consequatur atque. Quisquam quibusdam laborum aut, tenetur!</p></div>
         <span class="unit-icon"><i></i></span>
         <span class="unit-title"><h5><i>Asset Management</i></h5></span>
      </div>
      <div class="whyvine-unit whyvine-unit5">
         <span class="unit-icon"><i class="ion-ios-pricetags"></i></span>
         <div class="overlay"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam expedita temporibus quisquam tempora recusandae porro vitae delectus rerum, molestiae. Eos itaque corrupti molestiae consequatur atque. Quisquam quibusdam laborum aut, tenetur!</p></div>
         <span class="unit-icon"><i></i></span>
         <span class="unit-title"><h5><i>Lease Negotiations</i></h5></span>
      </div>
   </div>
</section>
