<section id="footer">
   <hr>
   <div class="footer-wrap">
      <a href="index.html"><div class="logo"></div></a>
      <div class="address">
         <span><i>5 Vine Terrace</i></span>
         <span><i>HighStreet</i></span>
         <span><i>Harborne</i></span>
         <span><i>Birmingham</i></span>
         <span><i>B17 9PU</i></span>
      </div>
      <nav class="links">
         <i><a href="aboutUs.html">About Us</a></i>
         <i><a href="our-people.html">Our People</a></i>
         <i><a href="">Our Regions</a></i>
         <i><a href="">Our Portfolio</a></i>
      </nav>
   </div>
</section>
