<section id="header">
	<div class="nav-top-wrap">
		<nav class="nav-top">
			<a href="index.html"><div class="logo"></div></a>
			<a href=""><span class="ion-navicon"></span></a>
		</nav>
	</div>
	<div class="nav-side-wrap">
		<nav class="nav-side">
			<a href="">About Us<br> <span>What We Do</span></a>
			<a href="">Our People<br> <span>Meet The Team</span></a>
			<a href="">Our Regions<br> <span>Where We Are</span></a>
			<a href="">Our Portfolio<br> <span>See Our Work</span></a>
		</nav>
	</div>
</section>
