<section id="people">
   <div class="top-title">
      <h1>Our People</h1>
      <div class="circle"></div>
   </div>
   <a href=""><div class="logo"></div></a>
   <p>Hover On A Team Member To Learn More!</p>
   <hr>
   <div class="peoples">
      <div class="head-office">
         <div class="title"><h2><i>HEAD OFFICE</i></div>
         <div class="people-units">
            <div class="people-unit">
               <div class="face"></div>
               <div class="info">
                  <p><span></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, excepturi molestias. Dolores officiis, deleniti consectetur quibusdam tenetur facilis ab eligendi laborum veritatis ea fugiat, architecto eos eum, facere corrupti voluptate</p>
                  <h3>Bart Donslow</h3>
                  <div class="underline"></div>
                  <h4>MRICS Partner</h4>
                  <h5>Bsc Hons</h5>
                  <a href=""><i class="ion-ios-email"></i></a>
               </div>
            </div>
            <div class="people-unit">
               <div class="face"></div>
               <div class="info">
                  <p><span></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, excepturi molestias. Dolores officiis, deleniti consectetur quibusdam tenetur facilis ab eligendi laborum veritatis ea fugiat, architecto eos eum, facere corrupti voluptate.</p>
                  <h3>Bart Donslow</h3>
                  <div class="underline"></div>
                  <h4>MRICS Partner</h4>
                  <h5>Bsc Hons</h5>
                  <a href=""><i class="ion-ios-email"></i></a>
               </div>
            </div>
            <div class="people-unit">
               <div class="face"></div>
               <div class="info">
                  <p><span></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, excepturi molestias. Dolores officiis, deleniti consectetur quibusdam tenetur facilis ab eligendi laborum veritatis ea fugiat, architecto eos eum, facere corrupti voluptate.</p>
                  <h3>Bart Donslow</h3>
                  <div class="underline"></div>
                  <h4>MRICS Partner</h4>
                  <h5>Bsc Hons</h5>
                  <a href=""><i class="ion-ios-email"></i></a>
               </div>
            </div>
         </div>
         <div class="property-accounts">
            <div class="title"><h2><i>PROPERTY ACCOUNTS</i></div>
            <div class="people-units">
               <div class="people-unit">
                  <div class="face"></div>
                  <div class="info">
                     <p><span></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, excepturi molestias. Dolores officiis, deleniti consectetur quibusdam tenetur facilis ab eligendi laborum veritatis ea fugiat, architecto eos eum, facere corrupti voluptate.</p>
                     <h3>Bart Donslow</h3>
                     <div class="underline"></div>
                     <h4>MRICS Partner</h4>
                     <h5>Bsc Hons</h5>
                     <a href=""><i class="ion-ios-email"></i></a>
                  </div>
               </div>
               <div class="people-unit">
                  <div class="face"></div>
                  <div class="info">
                     <p><span></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, excepturi molestias. Dolores officiis, deleniti consectetur quibusdam tenetur facilis ab eligendi laborum veritatis ea fugiat, architecto eos eum, facere corrupti voluptate.</p>
                     <h3>Bart Donslow</h3>
                     <div class="underline"></div>
                     <h4>MRICS Partner</h4>
                     <h5>Bsc Hons</h5>
                     <a href=""><i class="ion-ios-email"></i></a>
                  </div>
               </div>
               <div class="people-unit">
                  <div class="face"></div>
                  <div class="info">
                     <p><span></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, excepturi molestias. Dolores officiis, deleniti consectetur quibusdam tenetur facilis ab eligendi laborum veritatis ea fugiat, architecto eos eum, facere corrupti voluptate.</p>
                     <h3>Bart Donslow</h3>
                     <div class="underline"></div>
                     <h4>MRICS Partner</h4>
                     <h5>Bsc Hons</h5>
                     <a href=""><i class="ion-ios-email"></i></a>
                  </div>
               </div>
            </div>
      </div>
   </div>
</section>
